/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  --ifm-hero-background-color: #303846;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additionalFeatures {
  padding: 4rem 0;
}

.featureCard {
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.featureCard h3 {
  margin-bottom: 1rem;
  color: var(--ifm-color-primary);
}
